<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <%- include('../layouts/head') %>
</head>

<body>
    <%- include('../layouts/header') %>
    <main>
        <section class="books">
            <article class="book text-center spacing">
                <img src=" <%= book.image_url %> " alt=" <%= book.title %> " />
                <h2><%= book.title %></h2>
                <h3><%= book.author %></h3>
                <h3><%= book.isbn %></h3>
                <h3><%= book.description %></h3>


                <section class="delete-update d-flex justify-between">
                    <form action="/deleteBook/<%= book.id %>?_method=delete" method="post">
                        <button type="submit" class="btn">delete</button>
                    </form>

                    <button id="btn-update">update</button>
                </section>
                
            </article>
            <section>
                <p>hi</p>
                <form action="/updateBook/<%= book.id %>?_method=put" method="post" id="update-book" >
                    <input type="text" value="<%= book.title %>" name="title" />
                    <input type="text" value="<%= book.author %>" name="author" />
                    <input type="text" value="<%= book.image_url %>" name="image_url" />
                    <input type="text" value="<%= book.isbn %>" name="ibsn" />
                    <textarea name="description" cols="30" rows="10" name="description">
                        <%= book.description %>
                    </textarea>
                    <button type="submit">update</button>
                </form>
          
        </section>
    </main>
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="../js/app.js"></script>
</html>