<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>view books</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="./styles/main.css" />
</head>



<body>
    <%- include('../layouts/header') %>
    </header>
    <main>
        <section class="title text-center">
            <h3>Rearch Results</h3>
        </section>

        <section class="books ">
            <% book.forEach(book1 => { %>
            <article class="book1 text-center spacing">
                <img src=" <%= book1.image_url %> " alt=" <%= book1.title %> ">
                <h2>
                    <%= book1.title %>
                </h2>
                <h3>
                    <%= book1.authors %>
                </h3>
                <p class=" description"><%= book1.description %> </p>
                <p><%= book1.isbn %></p>
                <form action="/addBook" method="post">
                    <input
                        type="hidden"
                        name="title"
                        value=" <%= book1.title %> "
                    />
                    <input
                        type="hidden"
                        name="image_url"
                        value="  <%= book1.image_url %>"
                    />
                    <input
                        type="hidden"
                        name="author"
                        value=" <%= book1.authors %> "
                    />
                    <input
                        type="hidden"
                        name="isbn"
                        value=" <%= book1.isbn %> "
                    />
                    <input
                            type="hidden"
                            name="description"
                            value= "<%=book1.description %> "
                        />
                    <textarea
                        name="description"
                        id="description"
                        class="d-none"
                    > <%=book1.description %> </textarea>
                    <button type="submit">Add Book</button>
                </form>
            </article>
            <% }) %>
          
        </section>
    </main>

</body>
<%- include('../layouts/scripts') %>

</html>