<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOME</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="./styles/main.css" />
</head>

<body>
    
    <%- include('./layouts/header') %>
    <main>
        <section class="title text-center">
            <h3>Saved Books</h3>
        </section>
        <p>Saved Books <%= books.length %></p>
        <section class="books">
            <% books.forEach(book => { %>
            <article class="book text-center spacing">
                <img
                    src=" <%= book.image_url %> "
                    alt=" <%= book.title %> "
                />
                <h2><%= book.title %></h2>
                <h3><%= book.author %></h3>
            

                <a href="/books/<%= book.id %>">show seleted book</a>
            </article>
            <% }) %> <%= %>
        </section>
    </main>
</body>

<%- include('./layouts/scripts') %>

</html>